body {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	color: white;
}

div.main_container {
	display: grid;
	grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
	grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
}

.logo_image {
	grid-column: 1/1;
	grid-row: 1;
	background-color: grey;
	width: 100%;
}

.horizontalNav {
	grid-column: 2/7;
	grid-row: 1;
	background-color: black;
	width: 100%;
	font-size: 1.5em;
}

.horizontalNav li {
	list-style-type: none;
	float: left;
	font-size: 1.5em;
	padding: 5px 5px 5px 5px;
	margin: 0em 0px 0em 0px;
	text-align: center;
	color: white;
	width: 20%;
}

.horizontalNav li:hover {
	color: rgb(202,32,32);
}

/*
nav, section, div {
	outline: 1px solid black;
}
*/

h1.title {
	grid-column: 1/7;
	font-style: italic;
    background-color: black;
	text-align: center;
}

article.stream {
	grid-column: 1/7;
    background-color: black;
	float: left;
}

.stitle {
	color: white;
	background-color:  rgb(84, 84, 84);
}


article.soon {
	grid-column: 1/7;
    background-color: black;
	float: left;
}


article.theaters {
    background-color: black;
	grid-column: 1/7;
	float: left;
}
.content {
    margin-left: 5%;
    margin-right: 5%;


}

.caravanTitle {
	color: skyblue;
}

.footnote {
	font-size: 0.8em;
}

footer.footer {
	grid-column: 1/7;
	width: 100%;
}

.if0{
    background-color: black;
	float: left;
}

img.SM {
	padding: 15px; 
	width: 200px;
	float: left;
}

.os0{
    background-color: black;
	float: left;
}

img.HS {
	padding: 15px; 
	width: 200px;
	float: right;
}

img.MM {
	padding: 15px; 
	width: 200px;
	float: left;
}

.cp0{
    background-color: black;
	float: left;
}
